[submodule ".submodules/geochemistry_helpers"]
	path = .submodules/geochemistry_helpers
	url = https://github.com/St-Andrews-Isotope-Geochemistry/geostats
[submodule ".submodules/cbsyst"]
	path = .submodules/cbsyst
	url = https://github.com/oscarbranson/cbsyst
